* {
	font-family: system-ui, sans-serif;
}

h1 {
	color: #888;
}

p {
	margin-bottom: 2em;
}

.vandal {
	max-width: 90vw;
	text-align: center;
	font-weight: 900;
	font-size: 7vh;
	color: #000;
	opacity: 0.4;
	transform: rotate(-10deg);
}